.steps-container{
	background:royalblue;
	padding: 25px 0 41px 68px;
	
	/*flex*********************/
	align-items:center;
	align-content:center;
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:center;
	/**************************/
}

.step{
	height: 24px;
	position:relative;
	width: 32%;
}

.step:last-child{
	width:auto;
}

.step-bullet{
	border:1px solid #adabab;
	border-radius:50%;
	color:#adabab;
	display:inline-block;
	height: 20px;
	text-align:center;
	vertical-align:middle;
	width: 20px;
}

.step-name{
	color: #adabab;
	font-family: arial;
	font-variant: small-caps;
	margin-top: 2px;
	text-align: center;
	text-indent: -78px;
	width: 100px;
}

.step-line{
	border-bottom:1px solid #adabab;
	display:inline-block;
	vertical-align:middle;
	width: calc(100% - 22px);
}

.step-done{
	color:#000;
	background: #fff;
	border-color:#fff;
}

.step-name-done{
	color:#fff;
}